
.convert-text {
  height: 300px;
  resize: none;
}

.text-label {
  width: 100%;
  white-space: nowrap;
}

// based on bootswatch
.important-text {
  color: #485785;
}

.input-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  // border-top-left-radius: 50rem;
  // border-bottom-left-radius: 50rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.secret {
  white-space: nowrap;
}