
.convert-text {
  height: 300px;
  resize: none;
}

.text-label {
  width: 100%;
  white-space: nowrap;
}

// based on bootswatch
.important-text {
  color: #485785;
}

.input-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  // border-top-left-radius: 50rem;
  // border-bottom-left-radius: 50rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.secret {
  white-space: nowrap;
}

.plain-button, .plain-button:active, .plain-button:active:focus, .plain-button:focus, .plain-button:hover  {
  border: 0;
  background: none;
  box-shadow: none;
  transition: none;
  color: inherit;
}

.disabled-link {
  cursor: default;
  pointer-events: none;
  opacity: .65;
}

#emojiTextarea {
  line-height: 100%;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: normal;
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 720px) {
  #emojiTextarea {
    padding-left: 12px;
    padding-right: 12px;
  }
}